@charset UTF-8;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Poppins", Sans-serif;
   height: 100vh;
   width: 100vw;
}
main{
    
}
header.topo{
    width: 99vw;
    background-image: url(imagens/ftfundo.jpg);
    text-align: center;
    background-image: linear-gradient(to bottom right, #3A305C, #AE4A9C 70%);
    width: 100vw;
    height: auto;
    padding-bottom: 20px;
}
section.txttopo{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    padding-top: 10px;
}
id#video{/*Configurar responsividade*/        
    padding: 10px 0px; 
    display: block;
    margin: auto;
}
id#video > iframe{
    width: 99vw;
    max-width: 620px;
    
}
a.btcompra{
    display: block;
    color: white;
    text-decoration: none;
}
a.btcompra > p{
    font-size: 18px;
    font-weight: bold;
    background-color:#37305B ;
    padding: 20px 40px;
    margin: auto;
    width: 320px;
    border-radius: 300px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.727);
}
img.garantia{
    padding-top: 30px;
    margin: auto;
    height: auto;
    max-width: 100%;
}
section.ben {
    color: #39325E;
    font-family: 'Poppins', sans-serif; 
    min-height: 500px;    
    text-align: center;
    padding-top: 15px;
    
}
div#benef{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 93px;
    
}
div.divben{
    padding: 20px 5px;
    width: 265px;
   
}
div.divben > h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}
div.divben > p{
    text-align: center;
    font-family: 300;
    padding-top: 5px;
    margin:10px;
    color: grey;
}
section.ben > h2{
    
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    width: 96vw;
    text-align: center;
    font-size: 29px;
    padding: 10px 0px;}
section.ben > h3{
    font-size: 25px;
    font-weight:300px;
}

section#fotos1{
    background-image: url(imagens/ftfundo2.jpg);
    background-image: linear-gradient(to bottom right, #24203C,#38315D);
    padding: 30px 0px;
}
section#fotos1 > h2{
    max-width: 1120px;
    margin: auto;
    color: white;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight:600;
    text-align: center;
    text-decoration: none;
    padding: 10px 5px;
}

div.sec3{   
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    margin: auto;

}
div.imgsec3{
    background-color: white;
    width: 266.65px;

    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    border-radius: 30px;
    margin: 10px ;
    padding: 15px;
    height: 573px;
}
div.imgsec3 > p{
    text-align: center;
    color: #4E4E4E;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
}
.h2ft1{
    line-height: 1.3;
}
div.imgsec3> h2{
    color: #39325E;
    font-family: "Oxygen", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
}

section#fotos1  img{
    width: 100%;
    padding-bottom: 20px;
}

section#sec4 {
    padding: 35px 0px;
    text-align: center;
    padding: auto;
}

div.sec4{
    max-width: 1120px;
    width: 80vw;
    margin: auto;   
}
section#sec4 h2{
    font-size: 30px;
    line-height: 1.33em;
    color: #39325E;
    font-family: "Poppins", Sans-serif;
    font-size: 31px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0px;
}

section#sec4 p{
    color: #39325E;
    font-family: "Roboto", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 52px;
    line-height: 1.5;
}
section#sec4 span{
    color: #F169D7;
    font-weight: bold;
}

#fotos2{   
    max-width: 98vw;
    text-align: center;
    height: auto;
      
    background-color: black; 
}
#fotos2 > img{
    max-width: 80vw;

}
section#sec5 {
    text-align: center;
    padding: auto;
    background-image: linear-gradient(to bottom right, #24203C,#38315D); 
    padding: 60px 0px; 
}
section#sec5 > div > h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 10px 0px;
    max-width: 98vw;
}
section#sec5 > div > h2 > span{
    color: #F169D7;
}
section#sec5 > div > img{
    padding: 60px;
}

section#sec6 > h1 {
    padding-top: 40px;
    text-align: center;
    font-size: 38px;
    line-height: 1.33em;     color: #39325E;
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;  
}
section#sec6 > p{
    max-width: 97vw;
    text-align: center;
    padding: auto;
    padding-top: 30px;
    color: #000000EB;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase; 
    line-height: 1;
}

section#sec6 img{
    max-width: 78vw;
    padding-top: 20px;
}
section#sec6 > div{  
    text-align: center;
    padding: auto;
}

section#sec7{
    display: flex;
    max-width: 96vw;
    padding: 40px 0px;
    justify-content: space-around;
    text-align: center;
    max-width: 97vw;
}

section#sec7  h2{

    color: #39325E;
    font-family: "Roboto", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    padding-top: 20px;   
    text-align: center;
}
section#sec7  p{
    color: #7A7A7A;
    font-size: 19px;
    text-align: center;
    padding: 20px 0px;  
}
section#sec7 img{
    border-radius: 50%;
    padding: auto;
    
}
section#sec7 > div {
    max-width: 400px;
}

section#sec8{
    display: flex;
    justify-content: space-around;
}



@media screen and (max-width: 760px){
   
    section.ben{
       text-align: center;
       height: auto;
    }
    div#benef{
        display:block;
        margin: 0px;  
    }
    div.divben{
        padding: 20px 5px;
        width: 96vw;
       
    }

    section#fotos1 > h2{
        color: white;
        font-family: "Roboto", Sans-serif;
        font-size: 30px;
        font-weight:700;
        text-decoration: none;
        margin: auto;  

        width: 80vw;
    }
    div.sec3{
       
    }
    div.imgsec3{
        background-color: white;
        width: 80vw;   
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
        border-radius: 30px;
        margin: 10px ;
        padding: 15px;
        height: auto;
    }
    div.imgsec3 > p{

        text-align: center;
        color: #4E4E4E;
        font-family: "Poppins", Sans-serif;
        font-size: 21px;
        font-weight: 300;
        text-transform: uppercase;
        padding-bottom: 14px;
    }
    section#sec4 {
        width: 96%;
    }

    section#sec7{
        display: block;
        max-width: 98vw;
        text-align: center;
    }
   section#sec7 > div{
    max-width: 97vw;

   }
}
   
